.navContainer {
  height: 10vh;
  background-color: lightgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Arial";
  font-size: 18px;
}
.listStyling {
  list-style: none;
}
.active {
  font-weight: bold;
  color: grey;
}
