*{
  padding: 0px;
}
.content{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  font-family:'Arial';
}
h1{
  margin:20px 0px;
  font-size:30px;
}
p{
  font-size:20px;
}
li{
  font-family:'Arial';
  list-style:none;
  margin-top:10px;
  font-size:20px;
}